*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url("assets/images/herobackground.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

nav{
    max-width: 80vw;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

nav img{
    width: 250px;
}

nav button{
    z-index: 10;
}

.hero{
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}

.hero > span:nth-child(1){
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.hero > span:nth-child(2),
.hero > span:nth-child(3){
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.hero-input{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.hero-input input,
.hero-input button{
    height: 48px;
    width: 250px;
    font-size: 16px;
}
.seperation{
    height:11px;
    background-color:rgb(81, 81, 81);
}
